# Data Processing Pipeline

In [4]:
import importlib
import preprocess_data
import regularize_tracks
import trajectory_segmentation
importlib.reload(preprocess_data)
importlib.reload(regularize_tracks)
importlib.reload(trajectory_segmentation)
from regularize_tracks import resample_segment

from preprocess_data import process_zip, drop_duplicate_messages, save_parquet_partitioned
from trajectory_segmentation import segment_trajectories
from download_data import download_ais_range

import matplotlib.pyplot as plt
import os
import glob
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

## Input Parameters

In [7]:
START_DATE =  datetime(2025, 8, 1) # None to skip downloading
END_DATE  = datetime(2025, 8, 2) # None to skip downloading

# Directory where to store ZIP files
ZIP_DIR = os.path.join("..", "..", "data", "aisdk", "raw")
# Where to store the Parquet dataset
PARQUET_DIR = os.path.join("..", "..", "data", "aisdk", "interim", "aisdk_2025")

# Final Parquet file path
PARQUET_FILE_FINAL = os.path.join("..", "..", "data", "aisdk", "processed", "aisdk_2025")

## Data Download

In [8]:
if START_DATE and END_DATE:
    download_ais_range(start_date = START_DATE,
                       end_date = END_DATE,
                       output_dir = ZIP_DIR)

Downloading AIS data to: ../../data/aisdk/raw
Date range: 2025-08-01 → 2025-08-02 (exclusive)

→ 2025-08-01: http://aisdata.ais.dk/aisdk-2025-08-01.zip
   Saved: ../../data/aisdk/raw/aisdk-2025-08-01.zip

Done!

## Data Preprocessing

In [97]:
os.makedirs(PARQUET_DIR, exist_ok=True)

# Process all August 2025 ZIP files
pattern = os.path.join(ZIP_DIR, "aisdk-2025-08-*.zip")
zip_files = sorted(glob.glob(pattern))

print(f"Found {len(zip_files)} ZIP files to process.")

for zp in zip_files:
    process_zip(zp, PARQUET_DIR)

print("All files processed.")

Found 1 ZIP files to process.

=== Processing ../../data/aisdk/raw/aisdk-2025-08-01.zip ===
Output path: ../../data/aisdk/interim/aisdk_2025
Reading ../../data/aisdk/raw/aisdk-2025-08-01.zip ...
Columns in raw DF: ['# Timestamp', 'Type of mobile', 'MMSI', 'Latitude', 'Longitude', 'SOG', 'COG', 'Ship type']
Filtered to Ship type == Cargo and dropped column.
Applied geographic bounding box (60, 0, 50, 20).
Filtered to Type of mobile in ['Class A', 'Class B'] and dropped column.
Applied MMSI format and MID filters.
Parsed Timestamp column.
Converted SOG from knots to m/s.
Final columns: ['Timestamp', 'MMSI', 'Latitude', 'Longitude', 'SOG', 'COG', 'UTM_x', 'UTM_y', 'UTM_zone', 'UTM_letter']
Rows after filtering: 3470997
Saving to parquet dataset at ../../data/aisdk/interim/aisdk_2025 ...
Parquet save done.
=== Done for ../../data/aisdk/raw/aisdk-2025-08-01.zip ===

All files processed.

In [98]:
df = pd.read_parquet(PARQUET_DIR)

In [100]:
df.head()

,Timestamp,Latitude,Longitude,SOG,COG,UTM_x,UTM_y,UTM_zone,UTM_letter,MMSI
0,2025-08-01 00:02:24,57.112585,12.245682,0.0,167.7,333212.967255,6.333286e+06,33,V,205136000
1,2025-08-01 00:08:20,57.112590,12.245678,0.0,17.2,333212.747587,6.333286e+06,33,V,205136000
2,2025-08-01 00:08:24,57.112590,12.245678,0.0,17.2,333212.747587,6.333286e+06,33,V,205136000
3,2025-08-01 00:14:21,57.112583,12.245682,0.0,135.0,333212.958265,6.333286e+06,33,V,205136000
4,2025-08-01 00:14:24,57.112583,12.245682,0.0,135.0,333212.958265,6.333286e+06,33,V,205136000

## Create trajectories

In [101]:
df = drop_duplicate_messages(df)

df = segment_trajectories(df, 
                              sog_threshold=0.5, # 1 knot in m/s
                             position_threshold=50, # 50 meters
                              time_threshold=30 # 30 minutes
                             )

Dropped 6409610 duplicate (Timestamp, MMSI) rows.
Processing ship 1
Processing ship 2
Processing ship 3
Processing ship 4
Processing ship 5
Processing ship 6
Processing ship 7
Processing ship 8
Processing ship 9
Processing ship 10
Processing ship 11
Processing ship 12
Processing ship 13
Processing ship 14
Processing ship 15
Processing ship 16
Processing ship 17
Processing ship 18
Processing ship 19
Processing ship 20
Processing ship 21
Processing ship 22
Processing ship 23
Processing ship 24
Processing ship 25
Processing ship 26
Processing ship 27
Processing ship 28
Processing ship 29
Processing ship 30
Processing ship 31
Processing ship 32
Processing ship 33
Processing ship 34
Processing ship 35
Processing ship 36
Processing ship 37
Processing ship 38
Processing ship 39
Processing ship 40
Processing ship 41
Processing ship 42
Processing ship 43
Processing ship 44
Processing ship 45
Processing ship 46
Processing ship 47
Processing ship 48
Processing ship 49
Processing ship 50
Processing ship 51
Processing ship 52
Processing ship 53
Processing ship 54
Processing ship 55
Processing ship 56
Processing ship 57
Processing ship 58
Processing ship 59
Processing ship 60
Processing ship 61
Processing ship 62
Processing ship 63
Processing ship 64
Processing ship 65
Processing ship 66
Processing ship 67
Processing ship 68
Processing ship 69
Processing ship 70
Processing ship 71
Processing ship 72
Processing ship 73
Processing ship 74
Processing ship 75
Processing ship 76
Processing ship 77
Processing ship 78
Processing ship 79
Processing ship 80
Processing ship 81
Processing ship 82
Processing ship 83
Processing ship 84
Processing ship 85
Processing ship 86
Processing ship 87
Processing ship 88
Processing ship 89
Processing ship 90
Processing ship 91
Processing ship 92
Processing ship 93
Processing ship 94
Processing ship 95
Processing ship 96
Processing ship 97
Processing ship 98
Processing ship 99
Processing ship 100
Processing ship 101
Processing ship 102
Processing ship 103
Processing ship 104
Processing ship 105
Processing ship 106
Processing ship 107
Processing ship 108
Processing ship 109
Processing ship 110
Processing ship 111
Processing ship 112
Processing ship 113
Processing ship 114
Processing ship 115
Processing ship 116
Processing ship 117
Processing ship 118
Processing ship 119
Processing ship 120
Processing ship 121
Processing ship 122
Processing ship 123
Processing ship 124
Processing ship 125
Processing ship 126
Processing ship 127
Processing ship 128
Processing ship 129
Processing ship 130
Processing ship 131
Processing ship 132
Processing ship 133
Processing ship 134
Processing ship 135
Processing ship 136
Processing ship 137
Processing ship 138
Processing ship 139
Processing ship 140
Processing ship 141
Processing ship 142
Processing ship 143
Processing ship 144
Processing ship 145
Processing ship 146
Processing ship 147
Processing ship 148
Processing ship 149
Processing ship 150
Processing ship 151
Processing ship 152
Processing ship 153
Processing ship 154
Processing ship 155
Processing ship 156
Processing ship 157
Processing ship 158
Processing ship 159
Processing ship 160
Processing ship 161
Processing ship 162
Processing ship 163
Processing ship 164
Processing ship 165
Processing ship 166
Processing ship 167
Processing ship 168
Processing ship 169
Processing ship 170
Processing ship 171
Processing ship 172
Processing ship 173
Processing ship 174
Processing ship 175
Processing ship 176
Processing ship 177
Processing ship 178
Processing ship 179
Processing ship 180
Processing ship 181
Processing ship 182
Processing ship 183
Processing ship 184
Processing ship 185
Processing ship 186
Processing ship 187
Processing ship 188
Processing ship 189
Processing ship 190
Processing ship 191
Processing ship 192
Processing ship 193
Processing ship 194
Processing ship 195
Processing ship 196
Processing ship 197
Processing ship 198
Processing ship 199
Processing ship 200
Processing ship 201
Processing ship 202
Processing ship 203
Processing ship 204
Processing ship 205
Processing ship 206
Processing ship 207
Processing ship 208
Processing ship 209
Processing ship 210
Processing ship 211
Processing ship 212
Processing ship 213
Processing ship 214
Processing ship 215
Processing ship 216
Processing ship 217
Processing ship 218
Processing ship 219
Processing ship 220
Processing ship 221
Processing ship 222
Processing ship 223
Processing ship 224
Processing ship 225
Processing ship 226
Processing ship 227
Processing ship 228
Processing ship 229
Processing ship 230
Processing ship 231
Processing ship 232
Processing ship 233
Processing ship 234
Processing ship 235
Processing ship 236
Processing ship 237
Processing ship 238
Processing ship 239
Processing ship 240
Processing ship 241
Processing ship 242
Processing ship 243
Processing ship 244
Processing ship 245
Processing ship 246
Processing ship 247
Processing ship 248
Processing ship 249
Processing ship 250
Processing ship 251
Processing ship 252
Processing ship 253
Processing ship 254
Processing ship 255
Processing ship 256
Processing ship 257
Processing ship 258
Processing ship 259
Processing ship 260
Processing ship 261
Processing ship 262
Processing ship 263
Processing ship 264
Processing ship 265
Processing ship 266
Processing ship 267
Processing ship 268
Processing ship 269
Processing ship 270
Processing ship 271
Processing ship 272
Processing ship 273
Processing ship 274
Processing ship 275
Processing ship 276
Processing ship 277
Processing ship 278
Processing ship 279
Processing ship 280
Processing ship 281
Processing ship 282
Processing ship 283
Processing ship 284
Processing ship 285
Processing ship 286
Processing ship 287
Processing ship 288
Processing ship 289
Processing ship 290
Processing ship 291
Processing ship 292
Processing ship 293
Processing ship 294
Processing ship 295
Processing ship 296
Processing ship 297
Processing ship 298
Processing ship 299
Processing ship 300
Processing ship 301
Processing ship 302
Processing ship 303
Processing ship 304
Processing ship 305
Processing ship 306
Processing ship 307
Processing ship 308
Processing ship 309
Processing ship 310
Processing ship 311
Processing ship 312
Processing ship 313
Processing ship 314
Processing ship 315
Processing ship 316
Processing ship 317
Processing ship 318
Processing ship 319
Processing ship 320
Processing ship 321
Processing ship 322
Processing ship 323
Processing ship 324
Processing ship 325
Processing ship 326
Processing ship 327
Processing ship 328
Processing ship 329
Processing ship 330
Processing ship 331
Processing ship 332
Processing ship 333
Processing ship 334
Processing ship 335
Processing ship 336
Processing ship 337
Processing ship 338
Processing ship 339
Processing ship 340
Processing ship 341
Processing ship 342
Processing ship 343
Processing ship 344
Processing ship 345
Processing ship 346
Processing ship 347
Processing ship 348
Processing ship 349
Processing ship 350
Processing ship 351
Processing ship 352
Processing ship 353
Processing ship 354
Processing ship 355
Processing ship 356
Processing ship 357
Processing ship 358
Processing ship 359
Processing ship 360
Processing ship 361
Processing ship 362
Processing ship 363
Processing ship 364
Processing ship 365
Processing ship 366
Processing ship 367
Processing ship 368
Processing ship 369
Processing ship 370
Processing ship 371
Processing ship 372
Processing ship 373
Processing ship 374
Processing ship 375
Processing ship 376
Processing ship 377
Processing ship 378
Processing ship 379
Processing ship 380
Processing ship 381
Processing ship 382
Processing ship 383
Processing ship 384
Processing ship 385
Processing ship 386
Processing ship 387
Processing ship 388
Processing ship 389
Processing ship 390
Processing ship 391
Processing ship 392
Processing ship 393
Processing ship 394
Processing ship 395
Processing ship 396
Processing ship 397
Processing ship 398
Processing ship 399
Processing ship 400
Processing ship 401
Processing ship 402
Processing ship 403
Processing ship 404
Processing ship 405
Processing ship 406
Processing ship 407
Processing ship 408
Processing ship 409
Processing ship 410
Processing ship 411
Processing ship 412
Processing ship 413
Processing ship 414
Processing ship 415
Processing ship 416
Processing ship 417
Processing ship 418
Processing ship 419
Processing ship 420
Processing ship 421
Processing ship 422
Processing ship 423
Processing ship 424
Processing ship 425
Processing ship 426
Processing ship 427
Processing ship 428
Processing ship 429
Processing ship 430
Processing ship 431
Processing ship 432
Processing ship 433
Processing ship 434
Processing ship 435
Processing ship 436
Processing ship 437
Processing ship 438
Processing ship 439
Processing ship 440
Processing ship 441
Processing ship 442
Processing ship 443
Processing ship 444
Processing ship 445
Processing ship 446
Processing ship 447
Processing ship 448
Processing ship 449
Processing ship 450
Processing ship 451
Processing ship 452
Processing ship 453
Processing ship 454
Processing ship 455
Processing ship 456
Processing ship 457
Processing ship 458
Processing ship 459
Processing ship 460
Processing ship 461
Processing ship 462
Processing ship 463
Processing ship 464
Processing ship 465
Processing ship 466
Processing ship 467
Processing ship 468
Processing ship 469
Processing ship 470
Processing ship 471
Processing ship 472
Processing ship 473
Processing ship 474
Processing ship 475
Processing ship 476
Processing ship 477
Processing ship 478
Processing ship 479
Processing ship 480
Processing ship 481
Processing ship 482
Processing ship 483
Processing ship 484
Processing ship 485
Processing ship 486
Processing ship 487
Processing ship 488
Processing ship 489
Processing ship 490
Processing ship 491
Processing ship 492
Processing ship 493
Processing ship 494
Processing ship 495
Processing ship 496
Processing ship 497
Processing ship 498
Processing ship 499
Processing ship 500
Processing ship 501
Processing ship 502
Processing ship 503
Processing ship 504

## Missing values

In [102]:
# Missing segments 
mask_missing = df["SOG"].isna() | df["COG"] .isna()
bad_segments = df[mask_missing][["MMSI", "Trajectory"]].drop_duplicates()

# All unique segments
all_segments = df[["MMSI", "Trajectory"]].drop_duplicates()

# Clean segments = all_segments MINUS bad_segments
clean_segments = all_segments.merge(
    bad_segments,
    on=["MMSI", "Trajectory"],
    how="left",
    indicator=True
).query('_merge == "left_only"').drop(columns="_merge")

print(clean_segments)

clean_df = df.merge(clean_segments, on=["MMSI", "Trajectory"], how="inner")

          MMSI  Trajectory
0    209014000           0
1    209184000           1
2    209276000           2
3    209314000           3
4    209336000           4
..         ...         ...
529  636025570         529
530  636091784         530
531  636092635         531
532  636093117         532
533  636093288         533

[514 rows x 2 columns]

In [117]:
# Check how many segments were removed
print("Number of segments before cleaning:", all_segments.shape)
print("Number of segments after cleaning:", clean_segments.shape)
print("Number of removed segments:", bad_segments.shape)

Number of segments before cleaning: (534, 2)
Number of segments after cleaning: (514, 2)
Number of removed segments: (20, 2)

## Resampling and Imputation

In [71]:
df_resampled = clean_df.groupby(["MMSI", "Trajectory"]).apply(resample_segment)
df_resampled = df_resampled.reset_index(names=["MMSI", "Trajectory", "Timestamp"])

/var/folders/7z/72trz_6j2ss4z5yp7pd0jr_00000gn/T/ipykernel_56506/4250933535.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_resampled = clean_df.groupby(["MMSI", "Trajectory"]).apply(resample_segment)
/var/folders/7z/72trz_6j2ss4z5yp7pd0jr_00000gn/T/ipykernel_56506/4250933535.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_resampled = clean_df.groupby(["MMSI", "Trajectory"]).apply(resample_segment)

In [111]:
df_resampled.head()

,MMSI,Trajectory,Timestamp,COG,UTM_x,UTM_y,SOG
0,209014000,0,2025-08-01 19:37:13,254.700000,612411.419016,6.543974e+06,4.321330
1,209014000,0,2025-08-01 19:38:13,255.900012,612156.960477,6.543900e+06,4.471913
2,209014000,0,2025-08-01 19:39:13,258.164931,611900.143260,6.543831e+06,4.493230
3,209014000,0,2025-08-01 19:40:13,262.075074,611624.337855,6.543777e+06,4.578552
4,209014000,0,2025-08-01 19:41:13,265.452968,611354.089283,6.543744e+06,4.611012

In [73]:
# Quick check for missing values
df_resampled.isnull().sum()

MMSI          0
Trajectory    0
Timestamp     0
COG           0
UTM_x         0
UTM_y         0
SOG           0
dtype: int64

## Degrees conversion

In [107]:
# Decompose COG into its vector components
cog_radians = np.radians(df_resampled['COG']) # convert to radians
df_resampled['v_east'] = df_resampled['SOG'] * np.sin(cog_radians) # eastward component
df_resampled['v_north'] = df_resampled['SOG'] * np.cos(cog_radians) # northward component
df_resampled.drop(columns=['COG'], inplace=True)

In [108]:
df_resampled.head()

,MMSI,Trajectory,Timestamp,UTM_x,UTM_y,SOG,v_east,v_north
0,209014000,0,2025-08-01 19:37:13,612411.419016,6.543974e+06,4.321330,-4.168171,-1.140282
1,209014000,0,2025-08-01 19:38:13,612156.960477,6.543900e+06,4.471913,-4.337184,-1.089424
2,209014000,0,2025-08-01 19:39:13,611900.143260,6.543831e+06,4.493230,-4.397713,-0.921540
3,209014000,0,2025-08-01 19:40:13,611624.337855,6.543777e+06,4.578552,-4.534824,-0.631270
4,209014000,0,2025-08-01 19:41:13,611354.089283,6.543744e+06,4.611012,-4.596499,-0.365549

In [109]:
df_resampled.shape

(270778, 8)

## Write to a final parquet file

In [77]:
save_parquet_partitioned(df_resampled, out_path=PARQUET_FILE_FINAL, partition_cols=["MMSI", "Trajectory"])

Saving to parquet dataset at ../../data/aisdk/processed/aisdk_2025 ...
Parquet save done.